*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: #412234;
  font-size: 20px;
  color: white;
}
.prod-container{
  width: 700px;
  height: 150px;
  background-color: #6D466B;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.prod-container p{
  font-size: 30px;
  font-weight: bold
}
.low-qut-container{
  width: 200px;
  height: 400px;
  background-color: #6D466B;
  border-radius: 10px;
  padding: 20px;
}
.side-bar{
  width: 10%;
  border-right: 1px solid black;
  height: 100vh;
}
.side-bar ul{
  list-style: none;
  padding: 10px;
  margin: 0;;
}
.side-bar li{
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}

.side-bar li:hover{
  background-color: #6D466B;
  color: white
}
.side-bar-active{
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}